# Your AWS remote access credentials

:AWS:
  :access_key_id: ''
  :secret_access_key: ''

# S3 bucket name (must already exist)

:bucket: ''

# Prefix into which files should go.

:prefix: ''

# Days after which files should expire.

:expiration: 30
