# S3 bucket name (must already exist)

:bucket: ''

# Prefix into which files should go. Include the trailing slash.

:prefix: ''

# Days after which files should expire. Changes to this setting are
# retroactive, effective on the next upload. If you change your prefix, the old
# lifecycle policy will still apply to the old prefix, and this will apply to
# the new one.

:expiration: 30

# AWS S3 storage class to use. May be STANDARD or REDUCED_REDUNDANCY.

:storage_class: 'REDUCED_REDUNDANCY'
